* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(0, 8, 79, 1) 16%,
    rgba(0, 0, 42, 1) 37%,
    rgba(0, 19, 54, 1) 67%,
    rgba(1, 22, 42, 1) 100%
  );
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page {
  padding: 40px 60px;
  margin: 40px 60px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
#registrationForm {
  position: relative;
}

.input-field,
.email-field,
.password-field,
.confirm-password-field {
  flex: 1;
}
.tog-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.welcome-message {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeIn 0.5s ease-in;
}

.form-section {
  margin-top: 20px;
}

.user-section-felid,
.email-section-felid,
.password-section-felid,
.confirm-password-section-felid,
.phone-section-field,
.gender-section-field,
.country-section-field,
.address-section,
.agreement-section-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.password-section,
.confirm-password-section {
  position: relative;
}
.icon {
  margin-right: 10px;
}
.password-field,
.confirm-password-field {
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  width: 100% !important;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #1e90ff; /* Light blue border on focus */
  outline: none;
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  display: none;
  animation: fadeIn 0.3s ease-in;
}

.error-message.visible {
  display: block;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
